<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="MemberVO"
			type="com.tour.project.membervo.MemberVO" />
		<typeAlias alias="AdminVO"
			type="com.tour.project.adminvo.AdminVO" />
	</typeAliases>
</configuration>