<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="MemberVO"
			type="com.tour.project.frontvo.MemberVO" />
		<typeAlias alias="AdminVO"
			type="com.tour.project.adminvo.AdminVO" />
		<typeAlias alias="RestaurantVO"
			type="com.tour.project.adminvo.RestaurantVO" />
		<typeAlias alias="TourVO"
			type="com.tour.project.adminvo.TourVO" />
		<typeAlias alias="EventVO"
			type="com.tour.project.adminvo.EventVO" />
		<typeAlias alias="BoardVO"
			type="com.tour.project.adminvo.BoardVO" />
		<typeAlias alias="PageCriteriaVO"
			type="com.tour.project.common.vo.PageCriteriaVO" />
		<typeAlias alias="NotificationVO"
			type="com.tour.project.adminvo.NotificationVO" />
		<typeAlias alias="ComentsVO"
			type="com.tour.project.frontvo.ComentsVO" />
		<typeAlias alias="FavoritesVO"
			type="com.tour.project.frontvo.FavoritesVO" />
		<typeAlias alias="TourRecommendVO"
			type="com.tour.project.frontvo.TourRecommendVO"/>
		<typeAlias alias="GunameVO"
			type="com.tour.project.common.vo.GunameVO"/>
	</typeAliases>
</configuration>